.cric {
    height: 600px;
    border: none;
}

.op {
    height: 540px;

}

.font-fam {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(42, 34, 87);
}

.bg-nav {
    background-color: darkslateblue;
}

.story img {
    width: 450px;
    height: 400px;
}

.story {
    border: 2px solid darkslateblue;
    border-radius: 15px;

}